body {
  margin: 0;
  padding: 0;
  font-size: 13px;
  font-family: Arial, Helvetica, sans-serif;
  background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/8/80/Wikipedia-logo-v2.svg/1200px-Wikipedia-logo-v2.svg.png);
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: 200px;
  background-size: 200px;
}

a {
  text-decoration: none;
  cursor: pointer;
}

main {
  margin-top: 55px;
  text-align: center;
}

main .main-logo-title {
  width: 100%;
  margin: 0 auto;
}

main .main-logo-title img {
  width: 175px;
}

main .main-logo-title p {
  font-family: "Times New Roman", Times, serif;
  margin: 10px;
  font-size: 16px;
  font-weight: 500;
}

main .main-lenguages {
  margin-top: 16px;
  width: 100%;
  display: flex;
  justify-content: center;
}

main .main-lenguages-link1 {
  width: 50%;
  display: flex;
  justify-content: flex-end;
  padding-right: 80px;
}

main .main-lenguages-link2 {
  width: 50%;
  display: flex;
  justify-content: flex-start;
  padding-left: 80px;
}
main .main-lenguages-link3 {
  width: 50%;
  display: flex;
  justify-content: flex-end;
  padding-right: 140px;
}

main .main-lenguages-link4 {
  width: 50%;
  display: flex;
  justify-content: flex-start;
  padding-left: 140px;
}
main .main-lenguages-link5 {
  width: 50%;
  display: flex;
  justify-content: flex-end;
  padding-right: 150px;
}

main .main-lenguages-link6 {
  width: 50%;
  display: flex;
  justify-content: flex-start;
  padding-left: 150px;
}
main .main-lenguages-link7 {
  width: 50%;
  display: flex;
  justify-content: flex-end;
  padding-right: 140px;
}

main .main-lenguages-link8 {
  width: 50%;
  display: flex;
  justify-content: flex-start;
  padding-left: 140px;
}
main .main-lenguages-link9 {
  width: 50%;
  display: flex;
  justify-content: flex-end;
  padding-right: 80px;
}

main .main-lenguages-link10 {
  width: 50%;
  display: flex;
  justify-content: flex-start;
  padding-left: 80px;
}

main .main-lenguages a strong {
  font-size: 15px;
  margin: 0;
  color: #36c;
}

main .main-lenguages a p {
  margin-top: 5px;
  color: #54595d;
}

main .main-search {
  margin-top: 25px;
  margin-bottom: 40px;
  width: 100%;
  padding: 0;
}

main .main-search-container {
  display: flex;
  justify-content: center;
  height: 40px;
}

.main-search-container .input {
  width: 400px;
  height: 45px;
  border: 1px solid rgb(162 169 177);
  margin: 0;
  padding: 0;
  border-radius: 2px;
}

.main-search-container .input:hover {
  border: 1px solid #72777d;
}

.main-search-container .input:focus {
  outline-color: #36c;
}

.main-search-container .icon {
  width: 60px;
  height: 45px;
  background-image: url(https://raw.githubusercontent.com/wikimedia/portals/3ade52e238918bb4f72f83fe702b5d1af478b273/dev/wikipedia.org/assets/img/sprite_assets/search-icon.svg);
  background-repeat: no-repeat;
  background-color: #36c;
  background-size: 25px 25px;
  background-position: center;
  border: 1px solid #36c;
  margin: 0;
  padding: 0;
  border-radius: 2px;
}

main .main-button-container {
  text-align: center;
  padding: 5px;
}

main .main-button-lenguage {
  width: 35px;
  height: 35px;
  background-image: url(https://raw.githubusercontent.com/wikimedia/portals/3ade52e238918bb4f72f83fe702b5d1af478b273/dev/wikipedia.org/assets/img/sprite_assets/language-icon.svg);
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: center;
  background-size: 20px 20px;
  padding: 0px;
  margin: 0;
  margin-right: 15px;
}

main .main-button {
  margin: 0 auto;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 340px;
  height: 35px;
  font-size: 14px;
  font-weight: 700;
  text-align: center;
  background-color: #f8f9fa;
  color: #36c;
  border: 1px solid #a2a9b1;
}

main .main-button-arrow {
  width: 35px;
  height: 35px;
  background-image: url(https://raw.githubusercontent.com/wikimedia/portals/3ade52e238918bb4f72f83fe702b5d1af478b273/dev/wikipedia.org/assets/img/sprite_assets/arrow-down-blue.svg);
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: center;
  background-size: 15px 15px;
  padding: 0px;
  margin: 0;
  margin-left: 15px;
}

main .main-button:hover {
  background-color: white;
  cursor: pointer;
}

hr {
  border: none;
  border-bottom: 0.5px solid #c8ccd1;
  margin: 30px 15px 15px 20px;
}

footer {
  width: 100%;
  margin: 0;
  padding: 15px;
  display: flex;
}

footer .footer-left {
  width: 35%;
  padding: 15px;
}

footer .footer-wikidescription {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin: 10px auto;
  width: 350px;
}

footer .footer-wikidescription p {
  margin: 0px 0px 0px 10px;
  color: #54595d;
  font-size: 14px;
}

footer .footer-wikidescription p a {
  color: #36c;
}

footer .footer-wikidownload {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin: 30px auto;
  padding: 10px;
  width: 350px;
  background-color: #f8f9fa;
}

footer .footer-wikidownload-textapp {
  margin: 0 0 0 10px;
}

footer .footer-wikidownload-text {
  width: 300px;
}

footer .footer-wikidownload-app {
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
