:root {
  --width-med1: 41%;
  --width-med2: 35%;
  --width-med3: 33%;
  --width-padd1: 9%;
  --width-padd2: 15%;
  --width-padd3: 17%;
  --margin-up: 1em;
  --width-lengen: 30%;
}

body {
  margin: 0;
  padding: 0;
  font-size: 13px;
  font-family: Arial, Helvetica, sans-serif;
  background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/8/80/Wikipedia-logo-v2.svg/1200px-Wikipedia-logo-v2.svg.png);
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: 200px;
  background-size: 200px;
}

a {
  text-decoration: none;
  cursor: pointer;
}

main {
  margin-top: 55px;
  text-align: center;
}

main .main-logo-title {
  width: 100%;
  margin: 0 auto;
}

main .main-logo-title img {
  width: 175px;
}

main .main-logo-title p {
  font-family: "Times New Roman", Times, serif;
  margin: 10px;
  font-size: 16px;
  font-weight: 500;
}

main .main-lenguages {
  margin-top: 1em;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

main .main-lenguages-link1 {
  margin-top: var(--margin-up);
  width: var(--width-med1);
  display: flex;
  justify-content: flex-end;
  padding-right: var(--width-padd1);
}

main .main-lenguages-link2 {
  margin-top: var(--margin-up);
  width: var(--width-med1);
  display: flex;
  justify-content: flex-start;
  padding-left: var(--width-padd1);
}
main .main-lenguages-link3 {
  margin-top: var(--margin-up);
  width: var(--width-med2);
  display: flex;
  justify-content: flex-end;
  padding-right: var(--width-padd2);
}

main .main-lenguages-link4 {
  margin-top: var(--margin-up);
  width: var(--width-med2);
  display: flex;
  justify-content: flex-start;
  padding-left: var(--width-padd2);
}
main .main-lenguages-link5 {
  margin-top: var(--margin-up);
  width: var(--width-med3);
  display: flex;
  justify-content: flex-end;
  padding-right: var(--width-padd3);
}

main .main-lenguages-link6 {
  margin-top: var(--margin-up);
  width: var(--width-med3);
  display: flex;
  justify-content: flex-start;
  padding-left: var(--width-padd3);
}
main .main-lenguages-link7 {
  margin-top: var(--margin-up);
  width: var(--width-med2);
  display: flex;
  justify-content: flex-end;
  padding-right: var(--width-padd2);
}

main .main-lenguages-link8 {
  margin-top: var(--margin-up);
  width: var(--width-med2);
  display: flex;
  justify-content: flex-start;
  padding-left: var(--width-padd2);
}
main .main-lenguages-link9 {
  margin-top: var(--margin-up);
  width: var(--width-med1);
  display: flex;
  justify-content: flex-end;
  padding-right: var(--width-padd1);
}

main .main-lenguages-link10 {
  margin-top: var(--margin-up);
  width: var(--width-med1);
  display: flex;
  justify-content: flex-start;
  padding-left: var(--width-padd1);
}

main .main-lenguages a strong {
  font-size: 15px;
  margin: 0;
  color: #36c;
}

main .main-lenguages a p {
  margin-top: 5px;
  color: #54595d;
}

main .main-search {
  margin-top: 25px;
  margin-bottom: 40px;
  width: 100%;
  padding: 0;
}

main .main-search-container {
  display: flex;
  justify-content: center;
  height: 40px;
}

.main-search-container .input {
  width: 400px;
  height: 45px;
  border: 1px solid rgb(162 169 177);
  margin: 0;
  padding: 0;
  border-radius: 2px;
}

.main-search-container .input:hover {
  border: 1px solid #72777d;
}

.main-search-container .input:focus {
  outline-color: #36c;
}

.main-search-container .icon {
  width: 60px;
  height: 45px;
  background-image: url(https://raw.githubusercontent.com/wikimedia/portals/3ade52e238918bb4f72f83fe702b5d1af478b273/dev/wikipedia.org/assets/img/sprite_assets/search-icon.svg);
  background-repeat: no-repeat;
  background-color: #36c;
  background-size: 25px 25px;
  background-position: center;
  border: 1px solid #36c;
  margin: 0;
  padding: 0;
  border-radius: 2px;
}

main .main-button-container {
  text-align: center;
  padding: 5px;
}

main .main-button-lenguage {
  width: 35px;
  height: 35px;
  background-image: url(https://raw.githubusercontent.com/wikimedia/portals/3ade52e238918bb4f72f83fe702b5d1af478b273/dev/wikipedia.org/assets/img/sprite_assets/language-icon.svg);
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: center;
  background-size: 20px 20px;
  padding: 0px;
  margin: 0;
  margin-right: 15px;
}

main .main-button {
  margin: 0 auto;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 340px;
  height: 35px;
  font-size: 14px;
  font-weight: 700;
  text-align: center;
  background-color: #f8f9fa;
  color: #36c;
  border: 1px solid #a2a9b1;
}

main .main-button-arrow {
  width: 35px;
  height: 35px;
  background-image: url(https://raw.githubusercontent.com/wikimedia/portals/3ade52e238918bb4f72f83fe702b5d1af478b273/dev/wikipedia.org/assets/img/sprite_assets/arrow-down-blue.svg);
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: center;
  background-size: 15px 15px;
  padding: 0px;
  margin: 0;
  margin-left: 15px;
}

main .main-button:hover {
  background-color: white;
  cursor: pointer;
}

hr {
  border: none;
  border-bottom: 0.5px solid #c8ccd1;
  margin: 30px 15px 15px 20px;
}

footer {
  max-width: 100%;
  height: 364px;
  margin: 0;
  padding: 42px 13px 13px 13px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
}

footer .footer-left {
  width: 35%;
  margin-bottom: 40px;
}

footer .footer-wikidescription {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin: 0 auto;
  max-width: 350px;
}

footer .footer-wikidescription p {
  margin: 0px 0px 0px 10px;
  color: #54595d;
  font-size: 13.3px;
  line-height: 19.5px;
}

footer .footer-wikidescription p a {
  color: #36c;
}

footer .footer-wikidownload {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin: 0 auto;
  padding: 10px;
  max-width: 350px;
  background-color: #f8f9fa;
}

footer .footer-wikidownload-logo {
  max-width: 15%;
}

footer .footer-wikidownload-textapp {
  margin: 0 10px;
  max-width: 85%;
}

footer .footer-wikidownload-text {
  max-width: 100%;
}

footer .footer-wikidownload-text a {
  font-size: 13.5px;
  color: #36c;
  font-weight: bold;
}

footer .footer-wikidownload-text p {
  color: #54595d;
  font-size: 13.3px;
  line-height: 19.5px;
}

footer .footer-wikidownload-app {
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
}

footer .footer-wikidownload-app a {
  margin-right: 10px;
}

footer .footer-right {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: flex-start;
  width: 65%;
  padding: 0;
}

footer .footer-right-row {
  width: 33%;
  margin-bottom: 30px;
}

footer .footer-right-app {
  display: flex;
  font-size: 14px;
  padding: 5px;
}

footer .footer-right-app-text .title {
  color: #36c;
  margin: 0 0 5px 10px;
}

footer .footer-right-app-text .text {
  color: #54595d;
  margin: 0 0 0 10px;
  font-size: 13px;
}

.footer-termprivacy {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 13px;
  color: #54595d;
  height: 40px;
}

.footer-termprivacy a {
  color: #36c;
}

.footer-termprivacy .aviable {
  display: flex;
}

.footer-termprivacy .term nav ul {
  display: flex;
  justify-content: center;
  padding: 10px;
  margin: 0;
}

.footer-termprivacy .term nav ul li {
  margin: 15px;
}

/* ----- AQUI EMPIEZA EL RESPONSIVE ---- */

@media screen and (max-width: 1024px) {
}
@media screen and (max-width: 768px) {
  footer {
    height: 100%;
    padding: 2% 2% 0 2%;
  }

  #footer-left-1 {
    order: 1;
  }
  #footer-left-2 {
    order: 3;
    margin-bottom: 0;
  }

  footer .footer-left {
    width: 100%;
    margin-bottom: 1.5em;
  }
  footer .footer-wikidescription {
    display: block;
    text-align: center;
    width: 100%;
  }
  footer .footer-wikidescription p {
    width: 100%;
    margin: 0.7em 0 0 0;
  }

  footer .footer-right {
    order: 2;
    width: 100%;
  }
  footer .footer-right-row {
    margin: 1em 0;
  }
  footer .footer-right-app-text {
    padding: 0 1.5em 0 0;
  }

  footer .footer-wikidownload {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 90%;
    max-width: 90%;
  }
  footer .footer-wikidownload-logo {
    width: 100%;
    max-width: 100%;
  }
  footer .footer-wikidownload-textapp {
    width: 100%;
    max-width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}
@media screen and (max-width: 480px) {
  body {
    background-image: none;
  }
  main {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
  }

  main .main-logo-title {
    order: 1;
    background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/8/80/Wikipedia-logo-v2.svg/1200px-Wikipedia-logo-v2.svg.png);
    background-repeat: no-repeat;
    background-size: 57px;
    background-position-x: 31%;
  }
  main .main-logo-title img {
    width: 150px;
    margin-left: 50px;
  }
  main .main-logo-title p {
    margin-top: 5px;
    margin-left: 70px;
    font-size: 1.2em;
    font-weight: 500;
  }

  main .main-lenguages {
    order: 3;
  }
  main .main-lenguages-link1 {
    width: var(--width-lengen);
    padding: 1.5%;
    justify-content: center;
  }
  main .main-lenguages-link2 {
    width: var(--width-lengen);
    padding: 1.5%;
    justify-content: center;
  }
  main .main-lenguages-link3 {
    width: var(--width-lengen);
    padding: 1.5%;
    justify-content: center;
  }
  main .main-lenguages-link4 {
    width: var(--width-lengen);
    padding: 1.5%;
    justify-content: center;
  }
  main .main-lenguages-link5 {
    width: var(--width-lengen);
    padding: 1.5%;
    justify-content: center;
  }
  main .main-lenguages-link6 {
    width: var(--width-lengen);
    padding: 1.5%;
    justify-content: center;
  }
  main .main-lenguages-link7 {
    width: var(--width-lengen);
    padding: 1.5%;
    justify-content: center;
  }
  main .main-lenguages-link8 {
    width: var(--width-lengen);
    padding: 1.5%;
    justify-content: center;
  }
  main .main-lenguages-link9 {
    width: var(--width-lengen);
    padding: 1.5%;
    justify-content: center;
  }
  main .main-lenguages-link10 {
    width: var(--width-lengen);
    padding: 1.5%;
    justify-content: center;
  }

  main .main-search {
    order: 2;
    margin: 0 auto;
  }
  main .main-button-container {
    order: 4;
  }
}
@media screen and (max-width: 320px) {
}
